main{
    align-items: center;
    background-color: var(--color-dark-desaturated-blue);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    width: 56rem;
}

.main__img{
    background-image: url(../images/image-header-mobile.jpg);
    border-radius: .5rem .5rem 0rem 0rem;
    background-size: cover;
    height: 35vh;
    width: 85vw;
}

#main__lonelyWord{
    color: var(--color-soft-violet);
    font-family: var(--font-inter);
    font-size: 1.6rem;
}

.main__container--text{
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
}

h1{
    color: var(--color-white);
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
}

.main__text{
    color: var(--color-lightly-transparent-white);
    font-family: var(--font-inter);
    font-size: .9rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.main__img--desktop{
    display: none;
}





@media screen and (min-width: 1024px){
    main{
        flex-direction: row;
        height: 60vh;
    }

    .main__img{
        display: none;
    }    
    
    .main__img--desktop{
        display: inline-block;
        background-image: url(../images/image-header-desktop.jpg);
        border-radius: 0rem .5rem .5rem 0rem;
        background-size: cover;
        height: 60vh;
        width: 40rem;
    }

    .main__container--all{
        margin-left: 1.5rem;
    }

    .main__container--text{
        margin-top: 2rem;
        width: 27rem;
    }

    h1{
        font-size: 1.8rem;
        text-align: start;
        width: 21rem;
    }

    #main__lonelyWord{
        font-size: 1.8rem;
    }

    .main__text{
        font-size: .75rem;
        text-align: start;
        width: 18rem;
    }
}




@media screen and (min-width: 1440px){    
    main{
        width: 80rem;
    }

    .main__container--all{
        position: relative;
        left: 2rem;
        width: 40rem;
    }

    h1{
        font-size: 2.5rem;
        line-height: 3rem;
        width: 27rem;
    }

    #main__lonelyWord{
        font-size: 2.5rem;
    }

    .main__text{
        font-size: 1rem;
        line-height: 1.7rem;
        width: 24rem;
    }

    .main__img--desktop{
        width: 40rem;
    }
}