@import url(../styles/main.css);
@import url(../styles/section.css);
@import url(../styles/footer.css);

:root{
    --color-dark-desaturated-blue: hsl(244, 38%, 16%);
    --color-soft-violet: hsl(277, 64%, 61%);
    --color-very-dark-blue: hsl(233, 47%, 7%);

    --color-white: hsl(0, 0%, 100%);
    --color-slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --color-lightly-transparent-white: hsla(0, 0%, 100%, 0.6);

    --font-inter: "Inter";
    --font-lexend: "Lexend Deca";
}

*{
    box-sizing: border-box;
}

body{
    align-items: center;
    background-color: var(--color-very-dark-blue);
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 5rem;
}